<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodtip" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FOODTIP" >
        <activity
            android:name=".View.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.User.MyCousineActivity" />
        <activity android:name=".View.User.MyFavoriteActivity" />
        <activity android:name=".View.User.MyHistoryActivity" />
        <activity android:name=".View.User.MySettingActivity" />
        <activity android:name=".View.Search_View" />
        <activity android:name=".View.RegisterActivity" />
        <activity android:name=".View.HomePageActivity" />
        <activity android:name=".View.Home.UpdateCusineActivity" />
        <activity android:name=".View.Home.BottomDialog" />
        <activity android:name=".View.Home.ViewRecipeActivity"/>
        <activity android:name=".View.forgotPasswordActivity" />
        <activity android:name=".View.ChangePasswordActivity" />
        <activity android:name=".View.Search.SearchActivity" />
    </application>

</manifest>